<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section
      class="md:mx-auto top-0 w-full items-center mt-16 relative md:-mt-32 flex w-full x :max-w-8xl md:items-end p-6 px-12"
      aria-label="Global"
    >
      <div class="bannerImage mx-auto "></div>

      <div class="w-[96%] hidden md:block absolute bottom-0 mb-5">
        <div class="flex items-center">
          <span>In Partnership with </span>
          <img
            class="h-8 w-auto"
            src="../assets/remotelilogo.png"
            alt="banner"
          />
        </div>
        <div class="flex justify-between w-full">
          <h1
            class="font-clash tracking-normal font-bold text-5xl md:text-[9.375rem] text-white mix-blend-difference uppercase"
          >
            Create
          </h1>

          <h1
            class="font-nothing tracking-normal pe-20 font-bold text-5xl md:text-[8.125rem] uppercase"
          >
            <span class="text-black">Your</span>
          </h1>
        </div>
        <div class="flex justify-between w-full">
          <h1
            class="font-nothing tracking-normal font-bold text-5xl md:text-[8.125rem] uppercase"
          >
            <span class="text-black">Own</span>
          </h1>
          <h1
            class="font-clash text-white mix-blend-difference tracking-normal pe-32 font-bold text-5xl md:text-[9.375rem] uppercase"
          >
            PATHWAY
          </h1>
        </div>
        <div class="flex justify-between w-full">
          <div></div>
          <div class="w-1/5 me-10 2xl:px-3">
            <span class="tracking-normal pe-8 font-bold text-sm">
              We provide specialized programs within the Pathways Project to
              support driven players interested in exploring alternative career
              paths.
            </span>
          </div>
        </div>
      </div>

      <div
        class="h-full md:hidden overflow-visible absolute flex flex-col justify-between top-0 w-4/5"
      >
        <div class="-mt-20 space-y-8 flex flex-col">
          <div class="flex justify-center ms-10 items-center">
            <span>In Partnership with </span>
            <img
              class="h-8 w-auto"
              src="../assets/remotelilogo.png"
              alt="banner"
            />
          </div>

          <div>
            <h1
              class="font-clash tracking-normal font-bold text-6xl md:text-[9.375rem] text-white mix-blend-difference uppercase"
            >
              Create
            </h1>

            <div class="flex w-full justify-end">
              <h1
                class="font-nothing right-0 -me-28 text-white mix-blend-difference tracking-normal pe-20 font-bold text-6xl md:text-[8.125rem] uppercase"
              >
                Your
              </h1>
            </div>
          </div>
        </div>

        <div class="-mb-5">
          <h1
            class="font-nothing -ms-3 tracking-normal text-white mix-blend-difference font-bold text-6xl md:text-[8.125rem] uppercase"
          >
            Own
          </h1>
          <div class="flex w-full justify-end">
            <h1
              class="font-clash text-white mix-blend-difference -me-10 right-0 tracking-normalfont-bold text-6xl md:text-[9.375rem] uppercase"
            >
              PATHWAY
            </h1>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
