<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section
      id="become"
      class="mx-auto top-0 flex flex-col md:items-center relative mt-16 w-full 2xl:max-w-7xl p-6 lg:px-8"
      aria-label="Global"
    >
      <div class="flex top-14 md:top-20 relative flex-col">
        <h1
          class="font-nothing z-10 tracking-normal text-white mix-blend-difference font-bold text-5xl md:text-7xl uppercase"
        >
          Become
        </h1>
        <div class="flex justify-end">
          <h1
            class="uppercase relative md:-right-40 right-0 -right-0 md:top-10 -top-2 z-10 mix-blend-difference text-white font-bold md:text-7xl text-5xl font-clash"
          >
            Partner
          </h1>
        </div>
      </div>
      <div
        class="grid grid-cols-2 pt-12 md:pt-0 -top-14 px-6 py-10 md:p-[64px 96px] relative w-full mt-10 gap-4 bg-purple"
      >
        <div
          class="flex md:col-span-1 pt-10 md:pt-24 col-span-2 md:justify-end md:items-end items-center relative"
        >
          <img
            src="../assets/withceo.png"
            alt=""
            class="w-auto h-full md:h-[33.75rem] md:-mb-24 object-cover"
          />
        </div>

        <div
          class="flex md:col-span-1 justify-center col-span-2 flex-col py-8 space-y-8"
        >
          <span class="text-white text-xl md:text-3xl">
            If you are interested in becoming a part of this project, please do
            not hesitate to reach out. We welcome the opportunity to connect
            with you.
          </span>
          <div>
            <button
              type="button"
              class="inline-flex items-center gap-x-2 bg-white px-4 py-2.5 text-sm font-normal text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              Sign up now
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
