<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section
      id="about"
      class="mx-auto items-center overflow-hidden items-center relative mt-16 md:mt-24 flex xl:max-w-8xl items-center justify-between p-6 px-12"
      aria-label="Global"
    >
      <div class="grid grid-cols-3">
        <div class="col-span-3 md:col-span-2 relative">
          <div class="flex flex-col relative -mb-16 md:-mb-36">
            <h1
              class="font-clash text-white mix-blend-difference tracking-normal font-bold text-5xl md:text-8xl uppercase"
            >
              About The
            </h1>
            <div
              class="justify-end md:justify-start md:ms-60 relative flex pe-4"
            >
              <h1
                class="font-nothing text-white mix-blend-difference tracking-normal font-bold text-5xl md:text-8xl uppercase"
              >
                PROJECT
              </h1>
            </div>
          </div>
          <div class="relative md:flex md:justify-start md:ms-48 w-full z-[-1]">
            <img
              src="../assets/about.jpg"
              class="w-auto h-auto md:h-[43.75rem] object-cover"
            />
            <div
              class="bg-purple w-52 h-52 md:h-96 md:w-96 z-[-1] absolute bottom-0 -mb-5 md:-mb-10 md:left-0 md:-ms-10 -ml-4 rotate-[-3.208deg]"
            ></div>
          </div>
        </div>
        <div class="flex items-center col-span-3 md:mt-0 mt-14 md:col-span-1">
          <span class="">
            The Pathways Project invites aspiring footballers aged 15-22, with a
            focus on professional academy players. Embracing inclusivity,<strong>
              we collaborate with both male and female candidates,
            </strong>
            envisioning a world where your game propels you beyond the field,
            unlocking new opportunities. <br />
            <br />
            Our mission is to provide a tailored framework for you, addressing
            personal career uncertainties and challenges post-football, whether
            it's feeling low or not knowing where to start.
            <strong>
              The project empowers players, guiding them through seamless career
              transitions.
            </strong>
            <br />
            <br />
            Recognizing the preference for individuals with athletic
            backgrounds, we step in to ensure your skills shine beyond the
            field. So, get ready, because at the Pathways Project,<strong>
              your journey continues.
            </strong>
          </span>
        </div>
      </div>
    </section>
  </body>
</html>
