<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section
      id="faqs"
      class="mx-auto top-0 bg-white flex flex-col items-center relative mt-16 w-full 2xl:max-w-7xl p-6 lg:px-8"
      aria-label="Global"
    >
      <div class="flex flex-col w-full">
        <h1
          class="font-clash tracking-normal text-white mix-blend-difference font-bold text-4xl md:text-9xl uppercase"
        >
          Frequently
        </h1>
        <div class="flex justify-end flex-col items-center">
          <h1
            class="font-nothing tracking-normal text-white mix-blend-difference font-bold text-3xl md:text-9xl uppercase"
          >
            Asked Questions
          </h1>
        </div>
      </div>
      <div class="flex flex-col relative w-full mt-10 gap-4">
        <div
          class="bg-purple w-full border flex items-center justify-between w-full px-10 py-6"
        >
          <span class="text-white text-base md:text-[1.5rem]">
            What is the Pathways Project, and who is it designed for?
          </span>
          <span class="text-white text-3xl">+</span>
        </div>

        <div
          class="bg-purple w-full border flex items-center justify-between w-full px-10 py-6"
        >
          <span class="text-white text-base md:text-[1.5rem]">
            How can I apply to be a part of the Pathways Project?
          </span>
          <span class="text-white text-3xl">+</span>
        </div>

        <div
          class="bg-purple w-full border flex items-center justify-between w-full px-10 py-6"
        >
          <span class="text-white text-base md:text-[1.5rem]">
            What industries does the Pathways Project cover?
          </span>
          <span class="text-white text-3xl">+</span>
        </div>

        <div
          class="bg-purple w-full border flex items-center justify-between w-full px-10 py-6"
        >
          <span class="text-white text-base md:text-[1.5rem]">
            How does the Pathways Project support players in their career
            transitions?
          </span>
          <span class="text-white text-3xl">+</span>
        </div>

        <div
          class="bg-purple w-full border flex items-center justify-between w-full px-10 py-6"
        >
          <span class="text-white text-base md:text-[1.5rem]">
            Is the Pathways Project only for players no longer pursuing a
            football career?
          </span>
          <span class="text-white text-3xl">+</span>
        </div>

        <div
          class="bg-purple w-full border flex items-center justify-between w-full px-10 py-6"
        >
          <span class="text-white text-base md:text-[1.5rem]">
            What distinguishes the Pathways Project from other career transition
            programs?
          </span>
          <span class="text-white text-3xl">+</span>
        </div>
      </div>
    </section>
  </body>
</html>
