<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section
      class="mx-auto top-0 flex flex-col items-center relative mt-40 w-full 2xl:max-w-7xl p-6 lg:px-8"
      aria-label="Global"
    >
      <div class="flex gap-5">
        <h1
          class="font-nothing tracking-normal font-bold text-5xl md:text-7xl uppercase"
        >
          our
        </h1>
        <h1
          class="font-clash tracking-normal font-bold text-5xl md:text-7xl uppercase"
        >
          Goal
        </h1>
      </div>
      <div class="md:grid flex flex-col-reverse md:grid-cols-3 mt-12 gap-5">
        <div class="col-span-1 relative flex">
          <div class="">
            <span class="text-normal">
              Working together with clubs, current and ex-players and industry
              we aim to improve the number of ex-players transitioning into
              careers.
            </span>
          </div>
        </div>
        <div
          class="col-span-2 bg-black md:h-[31.625rem] h-[12rem] flex items-center justify-center"
        >
          <h1
            class="font-nothing text-white uppercase tracking-normal font-bold text-[6.25rem] uppercase"
          >
            Video
          </h1>
        </div>
      </div>
    </section>
  </body>
</html>
